combine*
sources/*
!sources/120h
sources/120h/*
!sources/120h/download.sh
!sources/css10
sources/css10/*
!sources/css10/download.sh
!sources/commonvoice
sources/commonvoice/*
!sources/commonvoice/download.sh
!sources/commonvoiceWav
sources/commonvoiceWav/*
!sources/commonvoiceWav/download.sh
!sources/own
sources/own/data
sources/own/results
combine.zip
spanish_voices*
spanish_voices.zip